.container {
  background-color: #475467;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 300px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.title {
  text-align: center;
}

.text {
  color: white;
}
